<% provide(:title, "About") %>

<h1>About</h1>
<h4>
  Sometimes life gets rough, so use events of the past to better control outcomes in the future.
</h4>
<p>
  LivWithIt is the <a href="https://github.com/MikeDulik/Project2">2nd project by Mike Dulik</a>, full stack developer from <a href="https://generalassemb.ly/education/web-development-immersive">General Assembly's Web Development Immersive</a>, DC style.
</p>
<p>
  Email: mikedulik@gmail.com
</p>
