<% provide(:title, "About") %>

<h1>About</h1>
<p>
  The site is the <a href="https://github.com/MikeDulik/Project2">2nd project by Mike Dulik</a>,
  an in-demand, 6th generation full stack developer from <a href="https://generalassemb.ly/education/web-development-immersive">General Assembly's Web Development Immersive</a>, DC style.
</p>
